<div id="videos-container" class="contents-container">
  <div id="item-{{video._id}}" class="video-card">

    <div class="video-title">
      <h1>{{video.title}}</h1>
    </div>

    <div class="video-player">
      <iframe class="video-player" src="{{video.url}}" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="video-description">
      <p>{{video.description}}</p>
    </div>

    <form class="input-form" action="/videos/{{video._id}}/edit" method="get">
      <div class="form-navigation">
        <button class="button delete-button" id="edit" type="submit">
          <p>Edit</p>
        </button>
      </div>
    </form>

    <form class="input-form" action="/videos/deletions" method="post">
      <input type="hidden" name="id" value="{{video._id}}">
      <div class="form-navigation">
        <button class="button delete-button" id="delete" type="submit">
          <p>Delete</p>
        </button>
      </div>
    </form>

  </div>
</div>
